<div class="info-modal-bg">
    <div class="info-modal">
         <div id="OTPSend">
            <img src=<%= IMG %>  />
            <p style="color: #4ca9ee;font-weight: bold;" ><%= TITLE %></p>  
         </div>
        <span> <i class="fa fa-times fa-1x close closeSend"></i></span>
    </div>
</div>