
<div class="nav-landing">
  <nav class="navbar navbar-expand-lg navbar-light" id="navbar-landing" style="
  position: fixed;
  width: 100vw !important;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
">
      <div id="navbar-container" class="container-fluid navbar-container-unscrolled">
          <a class="navbar-brand" href="./index.html">
              <img src="/images/logo.svg" alt="Health Highway Logo" />
              <div class="logo-text">
                  <span style="color: #4ca9ee" class="logo-span">Health</span>
                  <span style="color: #29e7cd" class="logo-span"> Highway</span>
              </div>
          </a>
          
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                  <li style="margin-right: 40px" class="nav-item">
                      <a href="./blogs/blogs.html" onclick="scrolltofunc('unique-main-div')" style="
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: #4ca9ee;
            cursor: pointer;
          " class="nav-link">Blogs</a>
                  </li>
                  <li style="margin-right: 40px" class="nav-item">
                      <a onclick="scrolltofunc('services-main-div')" style="
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: #4ca9ee;
            cursor: pointer;
          " class="nav-link">Support</a>
                  </li>
                  <li style="margin-right: 40px" class="nav-item">
                      <a onclick="scrolltofunc('feedback-main-starting')" style="
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: #4ca9ee;
            cursor: pointer;
          " class="nav-link">About Us</a>
                  </li>
                  
              </ul>
          </div>
          <% if(_id.length == 0){ %>
            <button
                id="landing-joinus"
                type="button"
                class="btn btn-light"
                onclick="modalOpenFunction();"
              >
                Join Us
            </button>
          <% }else{ %>
            <button onclick="alert('Hey!!, You are logged in')" class="loginIcon" style="border: none!important; background-color: #fff!important; cursor: pointer;" >
                <img src="/images/user.png" alt="user"/>
            </button>
          <% } %>
      </div>
  </nav>
</div>