<section id="testimonials">
    <div id="testimonial-main">
        <h2 id="testimonials-heading">Our Customers <span>Love Us !</span></h2>

        <div class="testimonial-container">
            <div class="swiper-container myTestimonialSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide testimonial">
                        <div class="testimonial-ratings">
                            <img src="/images/testimonial-star_full.svg" alt="" />
                            <img src="/images/testimonial-star_full.svg" alt="" />
                            <img src="/images/testimonial-star_full.svg" alt="" />
                            <img src="/images/testimonial-star_full.svg" alt="" />
                            <img src="/images/testimonial-star_half.svg" alt="" />
                        </div>
                        <p>
                            Health Highway has provided me the option of
                            <span style="color: #4ca9ee"> staying fit</span> when it hasn't been easy to go outside and workout due to COVID. I feel more 
                            <span style="color: #4ca9ee"> relaxed and healthy </span>than ever before!
                        </p>
                        <div class="testimonial-user-profile">
                            <h4>Manisha|</h4>
                            <p>Rishikesh</p>
                        </div>
                    </div>
                    <div class="swiper-slide testimonial">
                        <div class="testimonial-ratings">
                            <img src="/images/testimonial-star_full.svg" alt="" />
                            <img src="/images/testimonial-star_full.svg" alt="" />
                            <img src="/images/testimonial-star_full.svg" alt="" />
                            <img src="/images/testimonial-star_full.svg" alt="" />
                            <img src="/images/testimonial-star_half.svg" alt="" />
                        </div>
                        <p>
                            <span style="color: #4ca9ee">Excellent teachers</span> with
                            knowledge in a wide variety of Asanas and techniques. I am highly
                            motivated and <span style="color: #4ca9ee">inspired </span> by
                            the quality of <span style="color: #4ca9ee">teaching</span> despite
                            the online medium.
                        </p>
                        <div class="testimonial-user-profile">
                            <h4>Sanjay|</h4>
                            <p>Delhi</p>
                        </div>
                    </div>
                    <div class="swiper-slide testimonial">
                        <div class="testimonial-ratings">
                            <img src="/images/testimonial-star_full.svg" alt="" />
                            <img src="/images/testimonial-star_full.svg" alt="" />
                            <img src="/images/testimonial-star_full.svg" alt="" />
                            <img src="/images/testimonial-star_full.svg" alt="" />
                            <img src="/images/testimonial-star_half.svg" alt="" />
                        </div>
                        <p>
                            <span style="color: #4ca9ee">Friendly </span> and resourceful <span style="color: #4ca9ee">instructors. </span> One-on-one sessions ensure
                            <span style="color: #4ca9ee">maximum interaction.</span> Was very surprised by the progress I have made after just 2 weeks of Yoga. Would recommend it to all my colleagues!
                        </p>
                        <div class="testimonial-user-profile">
                            <h4>Sanskriti|</h4>
                            <p>Dehradun</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-controls">
                <img src="/images/testimonial-arrow.svg" class="swiper-button-prev" alt="" />
                <img src="/images/testimonial-arrow.svg" class="swiper-button-next" alt="" />
            </div>
        </div>
    </div>
    <img src="/images/testimonials-images.png" alt="" />
</section>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".myTestimonialSwiper", {
        spaceBetween: 20,
        loop:true,
        autoplay: {
        delay: 4000,
        disableOnInteraction: false,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>