<section id="testimonials">
    <div id="testimonial-main">
      <h2 id="testimonials-heading">Our Customers <span>Love Us !</span></h2>

      <div class="testimonial-container">
        <div class="swiper-container myTestimonialSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide testimonial swiper-slide-active">
              <div class="testimonial_img_rating">
                <img
                  class="testimonial_user_img"
                  src="https://ik.imagekit.io/healthhighway2020/c-1_jdqT1JnYlpt2.png?updatedAt=1633237815488"
                  alt=""
                />
                <div class="testimonial-ratings">
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_half_1R8ZH7JwW8j.svg?updatedAt=1631779195738" alt="" />
                </div>
              </div>
              <p>
                Health Highway has provided me the option of
                <span style="color: #4ca9ee"> staying fit</span> when it hasn't been easy to go outside and workout due to COVID. I feel more 
                <span style="color: #4ca9ee"> relaxed and healthy </span>than ever before!
              </p>
              <div class="testimonial-user-profile">
                <h4>Manisha|</h4>
                <p>Rishikesh</p>
              </div>
            </div>
            <div class="swiper-slide testimonial">
              <div class="testimonial_img_rating">
                <img
                  class="testimonial_user_img"
                  src="https://ik.imagekit.io/healthhighway2020/c-2_G5XrR4-Xf.png?updatedAt=1633237816514"
                  alt=""
                />
                <div class="testimonial-ratings">
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_half_1R8ZH7JwW8j.svg?updatedAt=1631779195738" alt="" />
                </div>
              </div>
              <p>
                <span style="color: #4ca9ee">Friendly </span> and resourceful <span style="color: #4ca9ee">instructors. </span> One-on-one sessions ensure
                <span style="color: #4ca9ee">maximum interaction.</span> Was very surprised by the progress I have made after just 2 weeks of Yoga. Would recommend it to all my colleagues!
              </p>
              <div class="testimonial-user-profile">
                <h4>Sanskriti|</h4>
                <p>Dehradun</p>
              </div>
            </div>
            <div class="swiper-slide testimonial">
              <div class="testimonial_img_rating">
                <img
                  class="testimonial_user_img"
                  src="https://ik.imagekit.io/healthhighway2020/c-5_CAV9h6jkBP.png?updatedAt=1633237814565"
                  alt=""
                />
                <div class="testimonial-ratings">
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_half_1R8ZH7JwW8j.svg?updatedAt=1631779195738" alt="" />
                </div>
              </div>
              <p>
                <span style="color: #4ca9ee">Excellent teachers</span> with
                knowledge in a wide variety of Asanas and techniques. I am highly
                motivated and <span style="color: #4ca9ee">inspired </span> by
                the quality of <span style="color: #4ca9ee">teaching</span> despite
                the online medium.
              </p>
              <div class="testimonial-user-profile">
                <h4>Sanjay|</h4>
                <p>Delhi</p>
              </div>
            </div>
            <div class="swiper-slide testimonial">
              <div class="testimonial_img_rating">
                <img
                  class="testimonial_user_img"
                  src="https://ik.imagekit.io/healthhighway2020/c-4_AJin-NjSBwL.png?updatedAt=1633237814114"
                  alt=""
                />
                <div class="testimonial-ratings">
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_half_1R8ZH7JwW8j.svg?updatedAt=1631779195738" alt="" />
                </div>
              </div>
              <p>
                All the sessions were amazing, consisiting of <span style="color: #4ca9ee">various activities</span>. There were new learnings in every session and the asanas taught made the whole body <span style="color: #4ca9ee" >flexible</span> and I felt relaxed after every session.
              </p>
              <div class="testimonial-user-profile">
                <h4>Sanditi|</h4>
                <p>Rishikesh</p>
              </div>
            </div>
            <div class="swiper-slide testimonial">
              <div class="testimonial_img_rating">
                <img
                  class="testimonial_user_img"
                  src="https://ik.imagekit.io/healthhighway2020/c-3_kWdhMZaky.png?updatedAt=1633237813765"
                  alt=""
                />
                <div class="testimonial-ratings">
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_full_VjR_XlUTd.svg?updatedAt=1631779195090" alt="" />
                  <img src="https://ik.imagekit.io/healthhighway2020/testimonial-star_half_1R8ZH7JwW8j.svg?updatedAt=1631779195738" alt="" />
                </div>
              </div>
              <p>
                I usually don't do Yoga, but this time my parents inisited and i'm glad i <span style="color:#4ca9ee" >joined</span>  the sessions. It turned out to be very good and was totally worth it, would try once more for sure.
              </p>
              <div class="testimonial-user-profile">
                <h4>Anaumita|</h4>
                <p>Mumbai</p>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-controls">
          <img
            src="https://ik.imagekit.io/healthhighway2020/testimonial-arrow_hS0JHdisjbu.svg?updatedAt=1631779372145"
            class="swiper-button-prev"
            alt=""
          />
          <img
            src="https://ik.imagekit.io/healthhighway2020/testimonial-arrow_hS0JHdisjbu.svg?updatedAt=1631779372145"
            class="swiper-button-next"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="img-container" style="background-image: url('https://ik.imagekit.io/healthhighway2020/testimonial-bg_Hkzar1Epf.svg?updatedAt=1631779791941');">
      <img src="https://ik.imagekit.io/healthhighway2020/c-1_jdqT1JnYlpt2.png?updatedAt=1633237815488" class="img-1 img-active" alt="" />
      <img
        src="https://ik.imagekit.io/healthhighway2020/c-2_G5XrR4-Xf.png?updatedAt=1633237816514"
        class="img-2"
        alt=""
      />
      <img src="https://ik.imagekit.io/healthhighway2020/c-5_CAV9h6jkBP.png?updatedAt=1633237814565" class="img-3" alt="" />
      <img src="https://ik.imagekit.io/healthhighway2020/c-4_AJin-NjSBwL.png?updatedAt=1633237814114" class="img-4" alt="" />
      <img src="https://ik.imagekit.io/healthhighway2020/c-3_kWdhMZaky.png?updatedAt=1633237813765" class="img-5" alt="" />
    </div>
  </section>

  <script src="/js/testimonials.js"></script> ></script>