<section id="usp" class="usp-section">
    <div class="usp-one">
        <img src="images/usp-one.png" alt="yoga for everyone" />
        <div class="left-item">
            <h3 class="usp-heading">Yoga for <span>Everyone</span></h3>
            <p class="usp-content">
                Discover Yoga routines tailored for your lifestyle and needs, be it a routine to boost your fitness, a remedy to manage diabetes or to learn a new fancy yoga pose. Here lies the answer to all your Yoga needs! 
            </p>
        </div>
    </div>
    <div class="usp-two">
        <img src="images/usp-two.png" alt="yoga for everything" />
        <div class="right-item">
            <h3 class="usp-heading">Yoga for <span>Everything</span></h3>
            <p class="usp-content">
                Why should there be any barrier when it comes to taking care of your health? Children, pregnant women, senior citizens we have Yoga routines for all! 
            </p>
        </div>
    </div>
    <div class="usp-three">
        <img src="images/usp-three.png" alt="yoga for everytime" />
        <div class="left-item">
            <h3 class="usp-heading">Yoga for <span>Everytime</span></h3>
            <p class="usp-content">
                Not a morning person, no issues! No need to compromise on your health for the sake of your morning meeting. Choose from many session timings according to your comfort and schedule.
            </p>
        </div>
    </div>
</section>