
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Check out</title>
    <meta name="theme-color" content="#7952b3">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" />
    <style>
        *{
            font-family: 'Poppins', sans-serif  ;
            scroll-behavior: smooth;
        }
        .container {
           max-width: 900px;
        }

        #sessionId {
          display: none;
        }

        #uid {
          display: none;
        }

        .border-top { border-top: 1px solid #e5e5e5; }
        .border-bottom { border-bottom: 1px solid #e5e5e5; }
        .border-top-gray { border-top-color: #adb5bd; }

        .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

        .lh-condensed { line-height: 1.25; }
    </style>

  <body>

    <div class="container" >
      <div class="text-center">
        <img class="d-block mx-auto mb-2" src="https://ik.imagekit.io/healthhighway2020/APPICON_-OEcn-k_dtP.png?updatedAt=1633240213768" alt="" width="150" height="150">
      </div>

      <div class="row">
        
        <div class="col-md-12 order-md-1">
          <h4 class="mb-3">Register Now</h4>
          <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-12 mb-3">
                <label for="problem">Your Goal/Problem</label>
                <input type="text" class="form-control" id="problem" placeholder="" value="" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="weight">Your weight (in Kgs)</label>
                <input type="text" class="form-control" id="weight" placeholder="" value="" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="height">Your Age</label>
                <input type="text" class="form-control" id="age" placeholder="" value="" required>
              </div>
              <div class="form-group col-md-4">
                <label for="timing">Choose timing for your session</label>
                <select class="form-control" id="timing">
                  <option>6:00 - 7:00 AM</option>
                  <option>7:00 - 8:00 AM</option>
                  <option>8:00 - 9:00 AM</option>
                  <option>9:00 - 10:00 AM</option>
                  <option>10:00 - 11:00 AM</option>
                  <option>4:00 - 5:00 PM</option>
                  <option>5:00 - 6:00 PM</option>
                  <option>6:00 - 7:00 PM</option>
                  <option>7:00 - 8:00 PM</option>
                  <option>8:00 - 9:00 PM</option>
                </select>
            </div>
            </div><br/>
            
            <div class="row" >
                <div class="col-md-12">
                  <label for="date">Starting Date * <span style="color:orange;" >( Must be atleast 24 hours ahead of current time & date )</span></label>
                  <input type="date" class="form-control" id="dateObj" placeholder="" value="" required>
                </div>
            </div>
            <div class="text-left" >
                <p>Select Week days for doing sessions<p>
            </div>
            <div style="flex-wrap: wrap;" class="mb-4"  >
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Mon">
                    <label class="form-check-label" for="inlineCheckbox1">Sun</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Mon</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox1">Tue</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                    <label class="form-check-label" for="inlineCheckbox2">Wed</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                    <label class="form-check-label" for="inlineCheckbox1">Thu</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                    <label class="form-check-label" for="inlineCheckbox2">Fri</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
                    <label class="form-check-label" for="inlineCheckbox2">Sat</label>
                  </div>
            </div>
            <div class="text-left" >
              <p>Gender Preference for trainer:<p>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="male" value="male">
              <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="female" value="female">
              <label class="form-check-label" for="female">Female</label>
            </div><br/>
            
            <div class="text-left" >
                <p  style="font-size: .7rem; color: orangered;">** Please note that you are allowed to change the day and timings for maximum 2 of the sessions (in case of any unpredictable situation from your side) and you need to inform us about that atleast 24 hrs prior to the session so that we can find you another yoga instructor<p>
            </div>
            <div class="text-left" >
                <p class="text-success" style="font-size: .9rem;">** After payment a trainer will join you within 3 - 4hrs.<p>
            </div>
            <div class="text-left" >
                <p class="text-secondary" style="font-size: 1rem;">Total Payable Amount : Rs <span  id="amount">120</span><p>
            </div>
            <button class="btn btn-primary btn-lg btn-block" id="paybtn" type="button" onclick="submitMyInfo()" >Continue to checkout</button>
           
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020-2021   Health Highway Private Limited</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
          <li class="list-inline-item"><a href="/">Back to Home</a></li>
        </ul>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>    
    
  </body>
</html>
