<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Username - Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="icon" href="/images/hh-favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <div class="nav-landing">
            <nav class="navbar navbar-expand-lg navbar-light" id="navbar-landing" style="
            position: fixed;
            width: 100vw !important;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1);
          ">
                <div id="navbar-container" class="container-fluid navbar-container-unscrolled">
                    <a class="navbar-brand" href="/">
                        <img src="/images/logo.svg" alt="Health Highway Logo" />
                        <div class="logo-text">
                            <span style="color: #4ca9ee" class="logo-span">Health</span>
                            <span style="color: #29e7cd" class="logo-span"> Highway</span>
                        </div>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                            <li style="margin-right: 40px" class="nav-item">
                                <a href="https://blogs.healthhighway.co.in/" style="cursor: pointer;" class="nav-link">Blogs</a>
                            </li>
                        </ul>
                    </div>
                    <button id="landing-joinus" type="button" class="btn btn-light" onclick="location.href='/logout'">
                          Log Out
                      </button>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <section class="fixed-budget-con">
            <div class="fixed-budget">
                <h3>Have a fixed budget for fitness ?</h3>
                <p>
                    Dont worry we got you covered. We bring you a variety of group sessions that suits your need.
                </p>
            </div>
            <div class="fix-grp-card-container">
                <div class="new-grp-card">
                    <img src="https://github.com/vxdhu/Healthhighway-Compiled/blob/main/images/image2.png?raw=true" alt="" />
                    <div class="grp-card-txt">
                        <div class="card-title">
                            <h3>Fitness Yoga</h3>
                            <p>by Yogachariya Sandeep</p>
                        </div>
                        <div class="session-time">
                            <p>6 AM</p>
                        </div>
                    </div>
                </div>
                <div class="new-grp-card">
                    <img src="https://github.com/vxdhu/Healthhighway-Compiled/blob/main/images/image2.png?raw=true" alt="" />
                    <div class="grp-card-txt">
                        <div class="card-title">
                            <h3>Fitness Yoga</h3>
                            <p>by Yogachariya Sandeep</p>
                        </div>
                        <div class="session-time">
                            <p>6 AM</p>
                        </div>
                    </div>
                </div>
                <div class="new-grp-card">
                    <img src="https://github.com/vxdhu/Healthhighway-Compiled/blob/main/images/image2.png?raw=true" alt="" />
                    <div class="grp-card-txt">
                        <div class="card-title">
                            <h3>Fitness Yoga</h3>
                            <p>by Yogachariya Sandeep</p>
                        </div>
                        <div class="session-time">
                            <p>6 AM</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        </div>
        <section class="download-app">
            <h2 id="download-app-heading">
                Download <span>Health</span>
                <span class="highway-spn">Highway</span> App
            </h2>
            <div class="download-img">
                <img src="/images/dwnld-app.svg" alt="" />
            </div>
            <p>For enhanced experience on your mobile phone</p>
            <a href="#" class="download-now-btn">Download Now</a>
        </section>
    </main>




    <script type="text/javascript" src="/js/landing.js"></script>
</body>

</html>