<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/payment-success.css">
    <title>Health Highway | Payment Successful</title>
    <link rel="stylesheet" href="css/new_navbar.css" />
</head>

<body>
    
    <header>
        <%- include("partials/navbar") %>
    </header>

    <main>
        <section id="success">
            <div class="success-img"><img src="images/check.png" alt="success"></div>
            <h1>Your Session is Booked Successfully</h1>
            <a href="/my-profile" class="get-started-btn">Get Started</a>
            <a href="/" class="link">Book another session</a>
        </section>
    </main>
    <footer></footer>
</body>

</html>