@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@400;600;700&family=Work+Sans:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
input {
    -webkit-user-select: text;
}

* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-display: swap;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

a:active,
a:focus {
    extra-fdbtline: 0;
    border: none;
    -moz-outline-style: none;
}

html {
    --scrollbarBG: #cfd8dc;
    --thumbBG: #90a4ae;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    height: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

body::-webkit-scrollbar {
    width: 11px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

#modal-form-main-div {
    -webkit-transition: 0.9s ease;
    transition: 0.9s ease;
}

#book-modal-form-main-div {
    -webkit-transition: 0.9s ease;
    transition: 0.9s ease;
}

.sidenav,
nav {
    z-index: 20 !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #4ca9ee;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
}

.sidenav a {
    padding: 8px;
    text-decoration: none;
    color: #fff;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-left: 0px;
}

#sidebar-joinus {
    background-color: #fff;
    color: #4ca9ee;
    padding: 7px 30px;
    border-radius: 30px;
}

#sidebar-joinus:hover {
    color: #4ca9ee;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 20px;
    right: 27px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    font-size: 40px;
}

.mobile {
    display: none !important;
}

#navbarNavDropdown {
    margin-right: 50px;
}

@media (max-width: 1200px) {
    #navbarNavDropdown {
        margin-right: 0px;
    }
    .navbar-nav li {
        margin-right: 20px !important;
    }
}

@media (min-height: 900px) {
    .sidenav-container {
        height: 40%;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.navbar-container-unscrolled {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-top: 15px;
}

.navbar-container-scrolled {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-top: 0;
}

#landing-main-div {
    width: 100vw;
    height: auto;
    background-color: transparent;
    position: relative;
}

.landing-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.landing-top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.pattern {
    margin-top: 150px;
    position: relative;
}

.navbar-brand {
    margin-left: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-brand img {
    width: 80px;
    height: 53.33px;
}

.nav-item a {
    font-family: Open Sans !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 22px;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
    content: "\f0c9";
}

.nav-link {
    font-size: 17px !important;
}

.navbar-brand span {
    color: #4ca9ee;
    font-family: Open Sans !important;
    font-size: 23px;
    margin-left: 5px;
}

#landing-joinus {
    border-color: #4ca9ee;
    color: #fff !important;
    padding: 8px 35px !important;
    border-radius: 20px !important;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    background-color: #4ca9ee;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

.nav-colored {
    background-color: white !important;
}

.nav-transparent {
    background-color: transparent !important;
}

.navbar-toggler {
    margin-right: 20px;
    color: black;
    border: none;
}

.navbar-toggler i {
    color: black;
    border: none;
}

.d-inline-block {
    display: inline-block !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.instructor,
.student {
    width: 400px;
    height: 414px;
}


.landing-main-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
}

.landing-main-text1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
}

.landing-main-text2 {
    font-family: Dancing Script;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    margin-top: 20px;
}

.landing-main-button {
    background: #4ca9ee;
    display: block;
    -webkit-box-shadow: 0px 2px 10px rgba(76, 169, 238, 0.3);
    box-shadow: 0px 2px 10px rgba(76, 169, 238, 0.3);
    border-radius: 8px;
    width: 214px;
    height: 55px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;
    border-color: #4ca9ee;
    margin-top: 54px;
    padding: 12px 0 0 0;
}

.fa-arrow-down {
    color: #4ca9ee;
    margin-top: 5px;
}

.know-more {
    margin-top: -80px;
    cursor: pointer;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #4ca9ee;
    text-align: center;
}


@media only screen and (max-width: 1600px) {
    .instructor,
    .student {
        width: 360px;
        height: 400px;
    }
    .landing-main-left {
        left: 80px;
    }
    .landing-main-right {
        right: 80px;
    }
}

@media only screen and (max-width: 1400px) {
    .instructor,
    .student {
        width: 350px;
        height: 400px;
    }
    .landing-main-left {
        left: 60px;
    }
    .landing-main-right {
        right: 60px;
    }
}

@media only screen and (max-width: 1200px) {
    .landing-main-text1 {
        font-size: 44px;
    }
    .landing-main-text2 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 1100px) {
    .landing-main-button {
        width: 140px;
        height: 50px;
        padding: 10px 0 0 0;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px) {
    .instructor,
    .student {
        width: 320px;
        height: 350px;
    }
    .landing-main-left {
        left: 30px;
    }
    .landing-main-right {
        right: 30px;
    }
    .pattern {
        height: 500px;
    }
}

@media only screen and (max-width: 900px) {
    #landing-main-div {
        height: auto;
    }
    .instructor,
    .student {
        width: 300px;
        height: 350px;
    }
    .landing-main-left {
        left: 20px;
        height: auto;
    }
    .landing-main-right {
        right: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .landing-main-text1 {
        font-size: 40px;
    }
    .landing-main-text2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 745px) {
    .instructor,
    .student {
        width: 280px;
        height: 300px;
    }
    .landing-main-left {
        top: 280px;
    }
    .landing-main-right {
        top: 280px;
    }
}

@media only screen and (max-width: 650px) {
    .landing-main-left {
        top: 300px;
    }
    .landing-main-right {
        top: 300px;
    }
    .instructor,
    .student {
        width: 200px;
        height: 260px;
    }
    .pattern {
        height: 450px;
    }
}

@media only screen and (max-width: 580px) {
    .landing-main-text1 {
        font-size: 36px;
        line-height: 60px;
    }
    .landing-main-text2 {
        font-size: 20px;
        line-height: 30px;
        margin-top: 5px;
    }
    .landing-main-button {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 550px) {
    .navbar-brand {
        margin-left: 30px;
    }
    .navbar-brand img {
        width: 70px;
        height: 46.67px;
    }
    .navbar-brand span {
        color: #4ca9ee;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 18px;
        margin-left: 3px;
    }
}

@media only screen and (max-width: 516px) {
    .landing-main-text1 {
        font-size: 30px;
        line-height: 48px;
    }
}

@media only screen and (max-width: 480px) {
    .landing-main-center {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 464px) {
    .navbar-brand {
        margin-left: 10px;
    }
    .navbar-brand img {
        width: 70px;
        height: 46.67px;
    }
    .navbar-brand span {
        color: #4ca9ee;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        margin-left: 3px;
    }
    .instructor,
    .student {
        width: 150px;
        height: 200px;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-brand img {
        width: 60px;
        height: 40px;
    }
    .navbar-brand span {
        color: #4ca9ee;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        margin-left: 1px;
    }
    .navbar-container-unscrolled {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 10px;
    }
    .navbar-container-scrolled {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 0;
    }
}

@media only screen and (max-width: 380px) {
    .instructor,
    .student {
        width: 120px;
        height: 180px;
    }
}

@media only screen and (max-width: 360px) {
    .landing-main-text1 {
        font-size: 24px;
        line-height: 42px;
    }
    .landing-main-text2 {
        font-size: 18px;
        line-height: 28px;
    }
    .landing-main-button {
        font-size: 14px;
        margin-top: 32px;
        padding: 3px 0 0 0;
        width: 110px;
        height: 36px;
    }
    .know-more-div {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 390px) {
    .instructor {
        width: 60vw;
        height: 36vh;
        margin: 50px 0 0 15vw;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 300px) {
    .instructor {
        width: 50vw;
        height: 30vh;
    }
    .landing-main-left {
        height: 32vh;
    }
}

@media only screen and (max-width: 330px) {
    .navbar-toggler i {
        color: #4ca9ee !important;
    }
    .pattern {
        height: 400px;
    }
}

@media only screen and (max-width: 300px) {
    .navbar-brand img {
        width: 50px;
        height: 33.33px;
    }
    .navbar-brand span {
        font-size: 13px;
        margin-left: 1px;
    }
    .navbar-toggler {
        margin-right: 10px;
    }
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
    width: device-width;
}

nav {
    display: block;
    line-height: 1.15;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn:hover,
.btn:focus {
    text-decoration: none;
}

.btn:focus,
.btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
    opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
    background-image: none;
}

.btn-light {
    color: #4ca9ee !important;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:hover {
    color: white;
}

.btn-light:focus,
.btn-light.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-light.disabled,
.btn-light:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-light.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
}

.nav-link.disabled {
    color: #6c757d;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-pills .nav-link {
    border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #007bff;
}

.nav-fill .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}

.nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar>.container,
.navbar>.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-brand {
    padding-bottom: 5px;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.navbar-text {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

@media (max-width: 575.98px) {
    .navbar-expand-sm>.container,
    .navbar-expand-sm>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-sm .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-sm>.container,
    .navbar-expand-sm>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-sm .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-sm .navbar-toggler {
        display: none;
    }
    .navbar-expand-sm .dropup .dropdown-menu {
        top: auto;
        bottom: 100%;
    }
}

@media (max-width: 767.98px) {
    .navbar-expand-md>.container,
    .navbar-expand-md>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-md .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-md>.container,
    .navbar-expand-md>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-md .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-md .navbar-toggler {
        display: none;
    }
    .navbar-expand-md .dropup .dropdown-menu {
        top: auto;
        bottom: 100%;
    }
}

@media (max-width: 991.98px) {
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navbar-expand-lg .dropup .dropdown-menu {
        top: auto;
        bottom: 100%;
    }
}

@media (max-width: 1199.98px) {
    .navbar-expand-xl>.container,
    .navbar-expand-xl>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-xl .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-xl>.container,
    .navbar-expand-xl>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-xl .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-xl .navbar-toggler {
        display: none;
    }
    .navbar-expand-xl .dropup .dropdown-menu {
        top: auto;
        bottom: 100%;
    }
}

.navbar-expand {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.navbar-expand>.container,
.navbar-expand>.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.navbar-expand .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-expand .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar-expand>.container,
.navbar-expand>.container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.navbar-expand .navbar-toggler {
    display: none;
}

.navbar-expand .dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
}

.ml-auto {
    margin-left: auto !important;
}

.navbar-collapse {
    display: block;
}

@media only screen and (max-width: 991px) {
    .navbar-collapse {
        display: none;
    }
}

#new-landing-ad {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100vw;
    height: 850px;
    background-image: url("../images/adLanding.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    background-position-x: 0px;
    background-position-y: 100%;
}

#new-landing-ad-header {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    font-size: 50px;
}

#new-landing-ad-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 25px;
}

@media only screen and (max-width: 1300px) {
    #new-landing-ad {
        width: 100vw;
        height: 800px;
    }
    #new-landing-ad-header {
        font-size: 44px;
        padding: 0px 60px;
    }
    #new-landing-ad-text {
        font-size: 18px;
        padding: 0px 60px;
    }
}

@media only screen and (max-width: 1050px) {
    #new-landing-ad-header {
        font-size: 40px;
        padding: 0px 60px;
    }
    #new-landing-ad-text {
        font-size: 18px;
        padding: 0px 60px;
    }
}

@media only screen and (max-width: 991px) {
    #new-landing-ad-header {
        font-size: 38px;
    }
    #new-landing-ad-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    #new-landing-ad {
        background-image: url("../images/adLanding-med.png");
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 630px) {
    #new-landing-ad {
        background-image: url("../images/adLanding-mobi.png");
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) {
    #new-landing-ad-header {
        font-size: 35px;
    }
    #new-landing-ad-text {
        font-size: 17px;
    }
}

@media only screen and (max-width: 550px) {
    #new-landing-ad-header {
        font-size: 35px;
        padding: 0px 40px;
    }
    #new-landing-ad-text {
        font-size: 17px;
        padding: 0px 40px;
    }
}

@media only screen and (max-width: 500px) {
    #new-landing-ad {
        width: 100vw;
        height: 70vh;
    }
    #new-landing-ad-header {
        font-size: 30px;
    }
    #new-landing-ad-text {
        font-size: 17px;
        padding: 10px 30px;
    }
}

@media only screen and (max-width: 463px) {
    #new-landing-ad-header {
        font-size: 30px;
        padding: 0px 20px;
    }
    #new-landing-ad-text {
        font-size: 17px;
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 400px) {
    #new-landing-ad-header {
        font-size: 22px;
        padding: 0px 20px;
    }
    #new-landing-ad-text {
        font-size: 15px;
        padding: 10px 20px;
    }
    .sidenav .closebtn {
        top: 13px;
        right: 27px;
    }
}

#main-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0px 100px;
    height: 640px;
}

.main-form-left {
    width: 800vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.modal-choose-div div {
    width: 100vw;
}

@media only screen and (max-width: 1600px) {
    #main-form {
        margin: 0px 0 50px 100px;
    }
}

@media only screen and (max-width: 1120px) {
    #main-form {
        margin: 0px 0 50px 100px;
    }
}

@media only screen and (max-width: 991px) {
    #main-form {
        margin: 0px 0 50px 80px;
    }
}

@media only screen and (max-width: 820px) {
    .main-form-right {
        display: none;
    }
    #main-form {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }
}

@media only screen and (max-width: 550px) {
    #main-form {
        margin: 0px 0 50px 50px;
    }
}

@media only screen and (max-width: 464px) {
    #main-form {
        margin: 0px 0 50px 35px;
    }
}

@media only screen and (max-width: 300px) {
    #main-form {
        margin: 0px 0 50px 25px;
    }
    .sidenav .closebtn {
        right: 16px;
    }
}

* {
    margin: 0;
    padding: 0;
}

.about-us-section {
    font-family: "Open Sans", sans-serif;
    padding: 1em 5%;
    text-align: center;
}

.about-us-heading {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.8em 0;
}

.about-us-heading span {
    color: #4ca9ee;
}

.border {
    width: 40%;
    background-color: #4ca9ee;
    height: 0.2em;
    margin: 0 auto;
}

.about-us-content {
    padding-top: 1em;
    font-size: 16px;
    font-weight: 400;
}

.about-us-content span {
    font-weight: bold;
    font-size: 16px;
    color: #4ca9ee;
}

.usp-section {
    font-family: "Open Sans", sans-serif;
    padding: 1em 5%;
    text-align: center;
}

.usp-section img {
    width: 60%;
    padding-top: 2em;
}

.usp-heading {
    padding: 1em 0;
}

.usp-heading span {
    color: #4ca9ee;
}

.usp-content {
    color: #757575;
    font-weight: 500;
}

.usp-one,
.usp-two,
.usp-three {
    margin-top: 4em;
}

@media (min-width: 768px) {
    .about-us-section {
        padding: 1em 10%;
    }
    .about-us-heading {
        font-size: 1.4rem;
    }
    .border {
        width: 35%;
    }
    .about-us-content {
        font-size: 1.1rem;
        padding-top: 2.5em;
    }
    .about-us-content span {
        font-size: 1.1rem;
    }
    .usp-section {
        padding: 2em 10%;
    }
    .usp-one {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    }
    .usp-one img {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        width: 70%;
        justify-self: flex-end;
    }
    .usp-heading {
        padding-top: 0;
        font-size: 1rem;
    }
    .usp-content {
        font-size: 0.8rem;
    }
    .left-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: left;
    }
    .usp-two {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    }
    .usp-two img {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        width: 70%;
        justify-self: flex-start;
    }
    .right-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: left;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
    }
    .usp-three {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    }
    .usp-three img {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        width: 70%;
        justify-self: flex-end;
    }
}

@media (min-width: 1024px) {
    .about-us-heading {
        font-size: 1.5rem;
    }
    .about-us-content {
        padding: 0 10%;
        padding-top: 2em;
    }
    .usp-heading {
        font-size: 1.2rem;
    }
    .usp-content {
        font-size: 0.9rem;
    }
}

@media (min-width: 1440px) {
    .about-us-heading {
        font-size: 1.8rem;
    }
    .about-us-content {
        padding: 0 15%;
        padding-top: 2em;
        font-size: 1.3rem;
    }
    .usp-heading {
        font-size: 1.8rem;
    }
    .usp-content {
        font-size: 1.2rem;
    }
}

#video-component {
    background-image: url("../images/pattern.png");
    padding: 70px 0;
}

#video-component .border {
    width: 30%;
    height: 0.25em;
    background-color: #4ca9ee;
}

#video-title {
    font-family: "Open sans", sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}

#video-title span {
    color: #4ca9ee;
}

#video-container {
    width: 800px;
    margin: 100px auto;
    position: relative;
}

#yogaVideo {
    width: 100%;
    border-radius: 8px;
}

#video-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

button img {
    pointer-events: none;
}

#video-pause,
#video-play {
    all: unset;
    background-color: transparent;
    position: absolute;
    margin-top: -66px;
    margin-left: -66px;
    top: 50%;
    left: 50%;
    cursor: pointer;
}

#video-mute,
#video-unmute {
    all: unset;
    background-color: transparent;
    position: absolute;
    left: 30px;
    bottom: 25px;
    cursor: pointer;
}

#video-controls.controls-invisible {
    opacity: 0;
}

#video-controls.controls-visible {
    opacity: 1;
}

#video-container .video-display {
    display: none;
}

@media (max-width: 850px) {
    #video-container {
        width: 500px;
        margin: 50px auto;
        background-size: cover;
    }
    #video-container .border {
        width: 25%;
    }
    #video-pause,
    #video-play {
        margin-top: -40px;
        margin-left: -40px;
    }
    #video-pause img,
    #video-play img {
        width: 80px;
        height: auto;
    }
    #video-title {
        font-size: 28px;
    }
}

@media (max-width: 550px) {
    #video-container {
        width: 300px;
        margin: 50px auto;
        background-size: cover;
    }
    #video-container .border {
        width: 22%;
    }
    #video-pause,
    #video-play {
        margin-top: -30px;
        margin-left: -30px;
    }
    #video-pause img,
    #video-play img {
        width: 60px;
        height: auto;
    }
    #video-mute,
    #video-unmute {
        left: 20px;
        bottom: 15px;
    }
    #video-mute img,
    #video-unmute img {
        width: 20px;
        height: auto;
    }
    #video-title {
        font-size: 20px;
    }
}

@media (max-width: 325px) {
    #video-title {
        margin-bottom: 8px;
    }
}

@media (max-width: 320px) {
    #video-container {
        width: 260px;
    }
    #video-container .border {
        width: 20%;
    }
    #video-pause,
    #video-play {
        margin-top: -20px;
        margin-left: -20px;
    }
    #video-pause img,
    #video-play img {
        width: 40px;
        height: auto;
    }
    #video-title {
        padding: 0 10px;
        line-height: 30px;
    }
}


/* ************************* */


/* GET STARTED CSS (MOBILE) */

.get-started {
    background: url("../images/pattern.png");
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background-size: contain;
    background-repeat: repeat-x;
    padding: 1em 10%;
}

.get-started-heading {
    font-size: 1.5rem;
    padding-bottom: 1.8em;
}

.get-started-heading span {
    color: #4ca9ee;
}

.img-replacement {
    padding-top: 0;
    padding-bottom: 1em;
    font-weight: 600;
    grid-column: 1/-1;
}

.private-sessions {
    background-color: #4ca9ee;
    color: white;
    padding: 1em 10%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.private-sessions .get-started-btn {
    color: #4ca9ee;
    background-color: white;
}

.private-sessions img {
    width: 70%;
}

.gs-item {
    font-family: "Montserrat";
    padding: 0.5em 0;
    text-align: left;
    font-weight: 600;
    font-size: 1.2rem;
}

.item-border {
    width: 50px;
    height: 0.2em;
    background-color: white;
    margin-bottom: 1em;
}

.group-sessions {
    background-color: #eff8ff !important;
    color: grey;
    padding: 1em 10%;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.group-sessions .get-started-btn {
    color: white;
    background-color: #4ca9ee;
}

.group-sessions #tick {
    fill: grey;
}

.group-sessions .gs-item {
    color: #4ca9ee;
}

.group-sessions img {
    margin-top: -10%;
    width: 70%;
    padding-bottom: 0.5em;
}

.group-sessions .item-border {
    background-color: #4ca9ee;
}

.group-sessions .img-replacement {
    color: #4ca9ee;
}

.get-started-btn {
    display: block;
    padding: 0.8em 2em;
    margin: 1em auto;
    width: 90%;
    border-radius: 0.5em;
    font-weight: 600;
    margin-top: 1.5em;
}

.perks {
    width: 90%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: min-content max-content;
    margin: 0 auto;
    justify-content: center;
    column-gap: 1em;
}

.perks .perqs {
    justify-self: flex-start;
    text-align: left;
    padding: 0.4em 0;
    font-weight: 600;
    font-size: .9rem;
}

.gs-img {
    display: none;
    place-items: center;
}

@keyframes left-right-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* GET STARTED CSS (RESPONSIVE) */

@media (min-width: 768px) {
    .get-started {
        padding: 4em 10%;
    }
    .get-started-heading {
        font-size: 2.2rem;
    }
    .get-started-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .group-sessions {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
    }
    .private-sessions {
        border-radius: 0;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
    }
    .img-replacement {
        padding-top: 1.5em;
        padding-bottom: 2em;
        font-weight: 600;
    }
    /* HOVER EFFECT CSS */
    .gs-img img {
        margin: 0;
        padding: 0;
        width: 80%;
        align-self: flex-end;
    }
    .private-sessions.hovered {
        grid-column: 1/-1;
        border-radius: 1em;
    }
    .private-sessions.hovered .perks-img-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        animation: left-right-fade 1s ease;
    }
    .group-sessions.hovered .perks-img-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        animation: left-right-fade 1s ease;
    }
    .group-sessions.hovered {
        grid-column: 1/-1;
        border-radius: 1em;
    }
    .private-sessions.hovered .get-started-btn {
        width: 45%;
        margin-left: 0;
    }
    .group-sessions.hovered .get-started-btn {
        width: 45%;
        margin-right: 0;
    }
    .private-sessions.hovered .perks {
        justify-content: flex-start;
    }
    .group-sessions.hovered .perks {
        justify-content: flex-end;
    }
    .group-sessions.hovered .gs-img {
        display: grid;
    }
    .group-sessions.hovered .gs-item {
        margin-left: 50%;
    }
    .group-sessions.hovered .item-border {
        margin-left: 50%;
    }
    .private-sessions.hovered .gs-img {
        display: grid;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {
    .get-started-grid {
        width: 60%;
        margin: 0 auto;
    }
}


/* GET STARTED CSS ENDS HERE */


/* ************************* */


/* DOwnload the App CSS */

.download-app {
    padding: 2em 5%;
    text-align: center;
    font-family: Montserrat;
}

#download-app-heading {
    font-size: 1.3rem;
    font-weight: 500;
}

#download-app-heading span {
    color: #4ca9ee
}

.download-img {
    padding: 3em 0;
}

.download-app p {
    padding: 0 3em;
    color: #757575;
}

#download-app-heading .highway-spn {
    color: aqua;
}

.download-now-btn {
    display: inline-block;
    background-color: #4ca9ee;
    color: white;
    padding: 1em 2em;
    margin: 1.5em 0;
    border-radius: .5em;
    font-weight: 600;
    cursor: pointer;
}

@media(min-width:768px) {
    #download-app-heading {
        font-size: 1.5rem;
        font-weight: 500;
    }
    .download-app p {
        padding: 0 30%;
    }
}

@media(min-width:1440px) {
    #download-app-heading {
        font-size: 1.8rem;
        font-weight: 600;
    }
    .download-app p {
        padding: 0 40%;
    }
}


/* DOwnload the App CSS (ENd) */


/* FOOTER CSS */

footer {
    padding: 2em 5%;
    font-family: 'Open Sans';
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

.nav-links a {
    color: black;
    font-weight: 400;
}

.terms-privacy ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    list-style-type: none;
}

.terms-privacy a {
    color: grey;
    font-size: .9rem;
}

.terms-privacy a:hover {
    color: black;
    font-size: .9rem;
}

.copyright {
    font-size: .9rem;
    padding: .5em 0;
    padding-top: 1.5em;
    text-align: center;
    color: grey;
}

.desk-links {
    display: none;
}

@media(min-width:768px) {
    .desk-links {
        display: unset;
    }
    .mob-links {
        display: none;
    }
    .nav-links {
        width: 50%;
        justify-content: space-around;
    }
    .terms-privacy ul {
        width: 30%;
        justify-content: space-around;
    }
}

@media(min-width:1024px) {
    .nav-links {
        width: 40%;
    }
    .terms-privacy ul {
        width: 20%;
    }
}


/* FOOTER CSS  (END) */


/* Testiomonials CSS  */

#testimonials {
    font-family: "Open Sans", sans-serif;
    padding: 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 70px;
}

#testimonial-main {
    margin: 60px 0 60px 30px;
    width: 700px;
}

#testimonials-heading {
    font-size: 42px;
    font-weight: 700;
    color: #353535;
    margin-bottom: 90px;
}

.testimonial-container {
    width: 100%;
    overflow: hidden;
}

#testimonials .myTestimonialSwiper {
    width: 100%;
}

#testimonials .swiper-wrapper {
    width: 100%;
}

#testimonials-heading span {
    color: #4ca9ee;
}

.testimonial-ratings {
    margin-bottom: 43px;
}

.testimonial-ratings img {
    margin: 3.5px;
}

.testimonial_user_img {
    display: none;
}

.testimonial>p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #898989;
    margin-bottom: 40px;
}

.testimonial-user-profile {
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.testimonial-user-profile {
    margin-bottom: 25px;
}

.testimonial-user-profile h4 {
    font-weight: 700;
    color: #4ca9ee;
}

.testimonial-user-profile p {
    font-weight: 400;
    color: #969696;
}

.testimonial-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
}

.swiper-button-prev,
.swiper-button-next {
    all: unset;
}

.swiper-button-prev {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    fill: #cfcfcf;
}

#testimonials>img {
    width: 513px;
    height: 100%;
}

@media (max-width: 1300px) {
    #testimonials {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    #testimonial-main {
        width: 500px;
    }
    #testimonials-heading {
        font-size: 38px;
        margin-bottom: 80px;
    }
    .testimonial-ratings {
        margin-bottom: 20px;
    }
    #testimonials>img {
        width: 450px;
    }
    .testimonial>p {
        font-size: 20px;
    }
    .testimonial-user-profile {
        font-size: 22px;
    }
}

@media (max-width: 1050px) {
    #testimonials {
        gap: 40px;
    }
    #testimonial-main {
        width: 300px;
    }
    #testimonials-heading {
        margin-bottom: 50px;
    }
    .testimonial>p {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .testimonial-user-profile {
        font-size: 18px;
    }
    #testimonials>img {
        width: 380px;
    }
}

@media (max-width: 768px) {
    #testimonials {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 40px 0;
    }
    #testimonial-main {
        width: 90%;
        margin: 30px auto;
    }
    #testimonials-heading {
        font-size: 32px;
        text-align: center;
    }
    #testimonials .swiper-wrapper {
        width: 95%;
        margin-bottom: 30px;
    }
    .testimonial-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .testimonial-controls {
        width: 80%;
        margin: 0 auto;
    }
    .testimonial {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .testimonial>p,
    .testimonial_img_rating,
    .testimonial-user-profile {
        width: 80%;
    }
    #testimonials>img {
        display: none;
    }
    .testimonial_img_rating {
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
        gap: 15px;
    }
    .testimonial_user_img {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .testimonial-ratings {
        margin-bottom: 0;
    }
}

@media (max-width:500px) {
    .testimonial_user_img {
        width: 60px;
        height: 60px;
    }
    .testimonial-ratings img {
        width: 17px;
        margin: 1.5px;
    }
    .testimonial_img_rating {
        margin-bottom: 10px;
    }
}

@media (max-width: 450px) {
    #testimonials-heading {
        font-size: 24px;
    }
    .testimonial>p,
    .testimonial-user-profile {
        font-size: 16px;
    }
}

@media (max-width: 345px) {
    #testimonials-heading {
        font-size: 20px;
    }
    .testimonial-ratings img {
        width: 20px;
    }
    .testimonial>p,
    .testimonial-user-profile {
        font-size: 14px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: 35px;
    }
    .testimonial_user_img {
        width: 50px;
        height: 50px;
    }
    .testimonial-ratings img {
        width: 14px;
        margin: 1px;
    }
}


/* Testiomonials CSS (END) */

.call-back {
    padding: 1em 5%;
    background-color: #4ca9ee;
    color: white;
}

.call-back-head {
    font-family: "Open Sans";
    text-align: center;
}

.call-back-text {
    font-family: "Open Sans";
    text-align: center;
    font-size: 0.85rem;
    padding-top: 0.2em;
}

#phone-num {
    display: block;
    padding: 0.8em 1em;
    border: none;
    outline: none;
    font-family: "Montserrat";
    font-size: 1rem;
    margin: 1em auto;
    border-radius: 0.2em;
}

.call-back-btn {
    display: block;
    margin: 1em auto;
    padding: 0.6em 1.4em;
    font-family: "Montserrat";
    background-color: transparent;
    border: 0.15em solid white;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    border-radius: 0.5em;
}

@media (min-width: 768px) {
    .call-back {
        padding: 2em 10%;
        display: -ms-grid;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
    }
    .call-back-head {
        text-align: left;
        font-size: 2rem;
    }
    .call-back-btn {
        margin: 1em auto;
    }
    .call-back-text {
        text-align: left;
        font-size: 0.9rem;
    }
    .call-back-btn {
        -webkit-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
        margin: 1em 0;
        margin-left: 1.5em;
    }
    .call-back-btn:hover {
        background-color: white;
        color: #4ca9ee;
    }
    .cb-form {
        display: flex;
        justify-content: flex-start;
    }
    #phone-num {
        margin: 1em 0;
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .call-back {
        padding: 2em 8%;
        display: grid;
        -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    }
    .cb-text {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    .cb-form {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    .call-back-head {
        font-size: 2.2rem;
    }
    .cb-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .call-back-btn {
        margin: 1em 0;
        margin-left: 1.5em;
    }
}

@media (min-width: 1440px) {
    .call-back {
        -ms-grid-columns: 30% 70%;
        grid-template-columns: 30% 70%;
    }
    .call-back-btn {
        justify-self: flex-end;
    }
    .cb-form {
        justify-content: flex-end;
    }
    #phone-num {
        width: 50%;
        margin-right: 0;
    }
}


/* CAll back CSS (END) */

@media only screen and (max-width: 480px) {
    .landing-main-right {
        display: none;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block !important;
        text-align: center;
        margin-bottom: 14px;
    }
    .instructor {
        width: 64vw;
        height: 36vh;
        margin: 30px 0 50px 15vw;
    }
    .landing-main-left {
        top: 240px;
    }
    .know-more-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}