.unique-main-class
{
    background-color: #F5F7FA;
    padding: 50px 70px;
    align-items: center
}

.unique-element-div
{
    background-color: transparent;height: auto;padding: 10px;display: flex;flex-direction: column;
}

.unique-element-div div{
    width: 100px;height: 100px;background-size: contain;background-repeat: no-repeat;background-position:center center;
}

.unique-element-div p{
    font-family: 'Montserrat', sans-serif; font-size: 18px;color: #004A85;line-height: 40px;padding-top: 20px;font-weight: 700;
}

@media only screen and (max-width: 400px) {
    .unique-main-class{
        padding: 50px 30px;
    }
    .unique-element-div{
        margin-top: 20px;
    }
    .unique-element-div p{
        font-family: 'Montserrat', sans-serif; font-size: 18px;color: #004A85;line-height: 22px;padding-top: 10px;
    }
}